-e git+git@github.com:Chia-Network/clvm.git@5befca8c6d0b2232f21b1a3a5ff27ac8caddc9b6#egg=clvm
-e git+git@github.com:Chia-Network/clvm_tools.git@bf9fad42e43848b71243c27c6d72158640046b4a#egg=clvm_tools
-e git+git@github.com:Chia-Network/ledger_sim.git@072ca55ed26e2bb2703e9b56bc26e810c06683f3#egg=ledger_sim
aiter==0.1.2
blspy==0.1.8
cbor==1.0.0
qrcode==6.1
pyzbar==0.1.8
Pillow==6.2.1
setuptools-scm==3.3.3
