-e git+https://git@github.com/Chia-Network/clvm.git@e6e37f16374d491a69819ede2d7f4537871c0fc3#egg=clvm
-e git+https://git@github.com/Chia-Network/clvm_tools.git@f2c380a6ce268edc3baf77dcb7a685febc7291f0#egg=clvm_tools
-e git+https://git@github.com/Chia-Network/ledger_sim.git@be41ec4f805ad6dcb25a6e8d512ccc2cb60caed8#egg=ledger_sim
aiter==0.1.2
blspy==0.1.8
cbor==1.0.0
qrcode==6.1
pyzbar==0.1.8
Pillow==6.2.1
setuptools-scm==3.3.3
